{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->

          <div class="row g-3">
            <div class="col-xxl-9">
              <div class="card rounded-3 overflow-hidden h-100">
                <!--tableau visual 1-->
                <div class="card-body pe-0 position-relative" id="candle-chart" dir="ltr">

                  <!-- chart 2 tableau-->
                  <div class='tableauPlaceholder' id='viz1637793124682' style='position: relative'>
                    <noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Sh&#47;ShippingIndustryExample_10_0&#47;ProfitabilityKPI&#47;1_rss.png' style='border: none' />
                    </a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' />
                      <param name='site_root' value='' /><param name='name' value='ShippingIndustryExample_10_0&#47;ProfitabilityKPI' />
                      <param name='tabs' value='yes' /><param name='toolbar' value='yes' /><
                        param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Sh&#47;ShippingIndustryExample_10_0&#47;ProfitabilityKPI&#47;1.png' />
                        <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' />
                        <param name='display_count' value='yes' /><param name='language' value='en-US' /></object>
                   </div>
                    <script type='text/javascript'>                    var divElement = document.getElementById('viz1637793124682');
                                 var vizElement = divElement.getElementsByTagName('object')[0];  if ( divElement.offsetWidth > 800 ) { vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';} else { vizElement.style.width='100%';vizElement.style.minHeight='1217px';vizElement.style.maxHeight=(divElement.offsetWidth*1.77)+'px';}
                                                         var scriptElement = document.createElement('script');
                                                                scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                                                                                 vizElement.parentNode.insertBefore(scriptElement, vizElement);
                    </script>
                  </div>

              </div>
            </div>
            <div class="col">
              <div class="row g-3">
                <div class="col-md-4 col-xxl-12">
                  <div class="card h-100">
                    <div class="card-body">
                      <div class="row flex-between-center g-0">
                        <div class="col-6 d-lg-block flex-between-center">
                          <h6 class="mb-2 text-900">Active Users</h6>
                          <h4 class="fs-3 fw-normal text-700 mb-0">765k</h4>
                        </div>
                        <div class="col-auto h-100">
                          <div style="height:50px;min-width:80px;" data-echarts='{"xAxis":{"show":false,"boundaryGap":false},"series":[{"data":[3,7,6,8,5,12,11],"type":"line","symbol":"none"}],"grid":{"right":"0px","left":"0px","bottom":"0px","top":"0px"}}'></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-xxl-12">
                  <div class="card h-100">
                    <div class="card-body">
                      <div class="row flex-between-center">
                        <div class="col d-md-flex d-lg-block flex-between-center">
                          <h6 class="mb-md-0 mb-lg-2">Revenue</h6><span class="badge rounded-pill badge-soft-success"><span class="fas fa-caret-up"></span> 61.8%</span>
                        </div>
                        <div class="col-auto">
                          <h4 class="fs-3 fw-normal text-700" data-countup='{"endValue":82.18,"decimalPlaces":2,"suffix":"M","prefix":"$"}'>0</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-xxl-12">
                  <div class="card h-100">
                    <div class="card-body">
                      <div class="row flex-between-center">
                        <div class="col d-md-flex d-lg-block flex-between-center">
                          <h6 class="mb-md-0 mb-lg-2">Conversion</h6><span class="badge rounded-pill badge-soft-primary"><span class="fas fa-caret-up"></span> 29.4%</span>
                        </div>
                        <div class="col-auto">
                          <h4 class="fs-3 fw-normal text-primary" data-countup='{"endValue":28.5,"decimalPlaces":2,"suffix":"%"}'>0</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row g-3 mb-3">
            <div class="col-xxl-9">
              <div class="card bg-light my-3">
                <div class="card-body p-3">
                  <p class="fs--1 mb-0"><a href="#!"><span class="fas fa-exchange-alt me-2" data-fa-transform="rotate-90"></span>A payout for <strong>$921.42 </strong>was deposited 13 days ago</a>. Your next deposit is expected on <strong>Tuesday, March 13.</strong></p>
                </div>
              </div>
              <div class="row g-3 mb-3">
                <div class="col-sm-6 col-md-4">
                  <div class="card overflow-hidden" style="min-width: 12rem">
                    <div class="bg-holder bg-card" style="background-image:url(../assets/img/icons/spot-illustrations/corner-1.png);">
                    </div>
                    <!--/.bg-holder-->

                    <div class="card-body position-relative">
                      <h6>Customers<span class="badge badge-soft-warning rounded-pill ms-2">-0.23%</span></h6>
                      <div class="display-4 fs-4 mb-2 fw-normal font-sans-serif text-warning" data-countup='{"endValue":58.386,"decimalPlaces":2,"suffix":"k"}'>0</div><a class="fw-semi-bold fs--1 text-nowrap" href="../app/e-commerce/customers.html">See all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="card overflow-hidden" style="min-width: 12rem">
                    <div class="bg-holder bg-card" style="background-image:url(../assets/img/icons/spot-illustrations/corner-2.png);">
                    </div>
                    <!--/.bg-holder-->

                    <div class="card-body position-relative">
                      <h6>Orders<span class="badge badge-soft-info rounded-pill ms-2">0.0%</span></h6>
                      <div class="display-4 fs-4 mb-2 fw-normal font-sans-serif text-info" data-countup='{"endValue":23.434,"decimalPlaces":2,"suffix":"k"}'>0</div><a class="fw-semi-bold fs--1 text-nowrap" href="../app/e-commerce/orders/order-list.html">All orders<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card overflow-hidden" style="min-width: 12rem">
                    <div class="bg-holder bg-card" style="background-image:url(../assets/img/icons/spot-illustrations/corner-3.png);">
                    </div>
                    <!--/.bg-holder-->

                    <div class="card-body position-relative">
                      <h6>Revenue<span class="badge badge-soft-success rounded-pill ms-2">9.54%</span></h6>
                      <div class="display-4 fs-4 mb-2 fw-normal font-sans-serif" data-countup='{"endValue":43594,"prefix":"$"}'>0</div><a class="fw-semi-bold fs--1 text-nowrap" href="../index.html">Statistics<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row g-3">
                <div class="col-12">
                  <div class="card h-100">
                    <div class="card-body pe-0 position-relative" id="candle-chart" dir="ltr">



                      <!-- chart 2 tableau-->
                  <div class='tableauPlaceholder' id='viz1637953560164' style='position: relative'><noscript><a href='#'><img alt='Customer Surveys Results ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pr&#47;Product_Survey_Analysis_10_0&#47;CustomerSurveyResults&#47;1_rss.png' style='border: none' />
                  </a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Product_Survey_Analysis_10_0&#47;CustomerSurveyResults' />
                    <param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pr&#47;Product_Survey_Analysis_10_0&#47;CustomerSurveyResults&#47;1.png' />
                    <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /></object>
                  </div>
                          <script type='text/javascript'>  var divElement = document.getElementById('viz1637953560164'); var vizElement = divElement.getElementsByTagName('object')[0];  if ( divElement.offsetWidth > 800 ) { vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';}
                        else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';} else { vizElement.style.width='100%';vizElement.style.height='1027px';}
                        var scriptElement = document.createElement('script');   scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <footer class="footer">
            <div class="row g-0 justify-content-between fs--1 mt-4 mb-3">
              <div class="col-12 col-sm-auto text-center">
                <p class="mb-0 text-600">Raven Analytical Platform <span class="d-none d-sm-inline-block">| </span><br class="d-sm-none" /> 2021 &copy; <a href="https://ravenanalytics.us">Raven Analytics</a></p>
            </div>
          </footer>
      </div>

    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->


{% endblock %}